<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/8ea94d6b77.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css" />
    <!--<script src="app/templates/testjs.js"></script>-->
    <link rel="stylesheet" href="/static/main.css">
    <script>
        function validateForm() {
            var x = document.forms["myForm"]["search"].value;
            var y = x.split(" ");
            if (y.length < 5) {
                alert("Your post must have at least 5 words");
                return false;
            }
        }
    </script>
</head>

<body style="background-color:rgb(255, 255, 255)">
    <strong>
        <p style="text-align:left; padding-left: 2%; position: absolute; top:2%; font-size: 25px; color: rgb(255, 86, 0, 1);
               font-family: Verdana;">Karma-Farmer <i class="fas fa-tractor"></i>
        </p>
    </strong>
    <form name="myForm" onsubmit="return validateForm()"
        style="text-align: center; font-family: 'GlacialIndifferenceRegular';">
        <h1 style="color:#383838;font-weight: bold;">
            What would you like to post?
        </h1>
        <div style="display: block; padding-left: 25%; padding-right: 25%;">
            <textarea style=" background-color: #ffffff;" rows="10" cols="10" id="input" type="text" name="search"
                class="form-control" placeholder="My Post">{{ query }}</textarea>
        </div>
        <br><br>

        <div class=" form-group" style="display: block;font-family: 'GlacialIndifferenceRegular';">
            <h1 for="weight" style="font-weight: bold; color:#383838"> What should we weigh more?</h1>
            <div style="display: block;">
                <span>Karma</span>
                <input style="display: inline-block; width: 40%;" class="slider" id="weight" type="range" name="weight"
                    min="0" max="100" value={{ weight }}>
                <span>Relevancy</span>
            </div>
            <br><br>

            <button onclick="location.href='#bottom'" type="submit" class="btn btn-info"
                style="background-color: rgb(255, 86, 0, 1); color:white;">Tell
                Me!
            </button>
    </form>

    <br><br>
    <div id="bottom" style="text-align: center;">
        {% if data %}
        <h1 style="text-align: center; font-family: 'GlacialIndifferenceRegular'; color: black">
            {{output_message}}</h1>
        {% for d in data[:11] %}
        <p style="font-family: 'GlacialIndifferenceRegular';">
            <hr class="dashed">
            <strong>subreddit:</strong>
            <a href=https://www.reddit.com/r/{{d['subreddit']}} />
            {{d['subreddit']}}
            </a>
            <br>
            <strong>score:</strong> {{d['score']}}
            <br>
            <hr class="dashed">
            {% endfor %}
            {% endif %}
        </p>
    </div>
    <br><br>
</body>
<footer style="font-family: 'GlacialIndifferenceRegular'; text-align: center;">Student Name: ({{ netid }})</footer>

</html>
