<html>

<head>
    <title>Karma Farmer</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/8ea94d6b77.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css" />
    <link rel="stylesheet" href="/static/main.css">
    <script>
        function validateForm() {
            var x = document.forms["myForm"]["search"].value;
            var y = x.split(/\s/);
            if (y.length < 5) {
                alert("Your post must have at least 5 words!");
                return false;
            }
        }
    </script>
</head>

<body>
    <a href="/">
        <strong>
            <p class="logo">Karma-Farmer <i class="fas fa-tractor"></i>
            </p>
        </strong>
    </a>
    <div class="version-select">
        <select id="cars" onchange="location = this.value;">
            <option value="https://karmafarmer.herokuapp.com/">Version 1</option>
            <option value="https://karmafarmer-v2.herokuapp.com/">Version 2</option>
            <option value="V3">Version 3</option>
        </select>
    </div>
    <form onsubmit="validateForm()" class="query-form">
        <h1 class="title">
            What would you like to post?
        </h1>
        <div class="query-input">
            <textarea rows="10" cols="10" id="input" type="text" name="search" class="form-control" placeholder="My Post">
                {{ query }}
            </textarea>
        </div>
        <br><br>

        <div class="form-group">
            <h1 for="weight"> What should we weigh more?</h1>
            <div>
                <span>Potential Karma</span>
                <span id="karmaWeight">{{ weight }}%</span>
                <input class="slider" id="weight" type="range" name="weight" min="0" max="100" value={{ weight }}>
                <span>Relevancy of Subreddit</span>
                <span id="relevancyWeight">{{ weight }}%</span>
            </div>
        </div>
        <div>
            <h5 for="suggested" class="suggested"> Get suggested words?
                <input id="suggested" type="checkbox" name="suggested" {{ suggested }}>
            </h5>
        </div>
        <br><br>

        <button onclick="location.href='#bottom'" type="submit" class="btn">
            Suggest Me Some Subreddits!
        </button>
    </form>

    <br><br>
    <div id="bottom">
        <h1>{{ output_message }}</h1>
        {% if query %}
            {% if data|length > 0 %}
                {% for d in data %}
                    <div class="result">
                        <strong>subreddit:</strong>
                        <a href="https://reddit.com/r/{{ d['subreddit'] }}"/>
                        r/{{d['subreddit']}}
                        </a>
                        <span id="dots">...</span><span id="more"></span>
                        <br>
                        <strong>description:</strong> {{ d['description'] }}
                        <br>
                        <strong>subscribers:</strong> {{ d['subscribers'] }}
                        <br>
                        <strong>score:</strong> {{ d['score'] }}
                        <br>
                        <strong>karma score:</strong> {{ d['karmaScore'] }}
                        <br>
                        <strong>relevancy score:</strong> {{ d['relevancyScore'] }}
                        <br>
                        {% if d['suggested_words'] %}
                            <strong>suggested words:</strong> {{ d['suggested_words'] }}
                            <br>
                        {% endif %}
                        <button onclick="myFunction()" id="myBtn">Read more</button>
                    </div>
                    <hr class="dashed">
                {% endfor %}
            {% else %}
                <p>No relevant results found, please try a more specific query.</p>
            {% endif %}
        {% endif %}
    </div>
    <br><br>
</body>
<footer>Student Name: ({{ netid }})</footer>
<script>
    let weightSelector = document.getElementById("weight");
    let karmaWeight = document.getElementById("karmaWeight");
    let relevancyWeight = document.getElementById("relevancyWeight");
    weightSelector.addEventListener('input', () => {
        karmaWeight.innerHTML = 100 - weightSelector.value + "%";
        relevancyWeight.innerHTML = weightSelector.value + "%";
    }, false);

    function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }
</script>
</html>
